@charset "utf-8";

/*driver sign up pages*/

.row1{
	
	width:100%;
	float:left;
	
}

.row1:after{
	content:"";
	display:table;
	clear:both;
}



.col1_form{
	
	background-color:white;
	width:38%;
	float:left;	
	overflow:auto;
	text-align:left;
	overflow:auto;
	height:auto;
	padding:50px;
	color:black;
	font-size:17px;
}


input[type = "text"],input[type = "phone"],input[type = "email"],input[type = "password"]
{
	
	width: 85%;
	padding:11px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	background: lightgrey;
}



.signup_btn{
	
	background-color: #f0ad4e;
	font:black;
	font-size:20px;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 90%;
	opacity: 0.9;
	font-family:sans-serif;
}
.signup_btn:hover{
	
	opacity:9;
}

#logo1{
	
	height:auto;
	width:auto;
	margin-left:200px;
	filter: brightness(200%);
	
	
}




.form_image_driver{
	
	background-image: url("../images/pic8.jpg");
	min-height: 1200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-top:3.5%;
	
}
.signup_link:hover{
	color:red;
	opacity:0.9;
}

}
.signup_link:link{
	text-decoration:underline;
	opacity:0.5;
	
}





