.row{
	
	width:100%;
	float:left;
	
}

.row:after{
	content:"";
	display:table;
	clear:both;
}

.login_image{
	
	background-image: url("../images/pic10.jpg");
	min-height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
}

.link_1:hover{
	
	color:blue;
}



.column{
	
	background-color:white;
	width:525px;
	float:left;	
	overflow:auto;
	text-align:left;
	overflow:auto;
	height:800px;
	font-family:sans-serif;
}



input[type = "text"],input[type = "password"]
{
	
	width: 85%;
	padding:12px;
	margin: 5px 0 22px 0;
	border: none;
	background: lightgrey;
}




.btn1{
	
	background-color: red;
	font:black;
	font-size:15px;
	padding: 16px 20px;
	border: none;
	width: 70%;
	opacity: 0.7;
	text-align:center;
	margin-left:10%;
	
}
.btn1:hover{
	
	opacity:1;
}
#logo_image{
	
	margin-left:auto;
	margin-right:auto;
	display:block;
	filter: brightness(1000%);
	
	
}
